<!-- Header -->
<h2 class="page-title">Business Contacts</h2>

<table class="contacts">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Email Address</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{contact.name}}</td>
            <td>{{contact.number}}</td>
            <td>{{contact.email}}</td>
            <td>
                <a routerLink="/business-contacts/{{contact._id}}"><button mat-raised-button color="primary">Update</button></a>
                <a><button mat-raised-button color="primary" (click)="this.onClickDelete(contact)">Delete</button></a>
            </td>
        </tr>
    </tbody>
</table>