.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/** CSS for login form */
form.login-form {
    width: 40vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

form.login-form > button {
    width: 30%;
    font-size: 1rem;
    margin: 1rem auto 0 auto;
}

/* CSS for each input field */
div.login-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

div.login-field > label {
    min-width: 15vw;
    margin-right: 1rem;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

div.login-field > input, textarea {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #ccc;
    color: black;
    border: 1px solid #999;
}