/* CSS for entire form */
form.contact-form {
    min-width: 40vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

form.contact-form > button {
    display: block;
    font-size: 1rem;
    margin: 2rem auto 1rem auto;
}

/* CSS for each input field */
div.contact-field {
    display: flex;
    flex-direction: row;
    margin: 0.5rem auto 0.5rem auto;
    align-items: center;
}

div.contact-field > label {
    min-width: 15vw;
    font-weight: 400;
    font-size: 1rem;
}

div.contact-field > input, textarea {
    min-width: 30vw;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #ccc;
    color: black;
    border: 1px solid #999;
}

/* CSS for buttons */
div.button-row {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}